.v-list-item:hover {
    cursor: pointer;
    background: #ddd;
}

.mute {
    color: #888;
}

.small {
    font-size: 85%;
}

.hero {
    height: 120vh;
    background-image: url('./images/loginbg-1.jpg');
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
}

@media screen and (max-width: 991px) {
    .hero {
        height: 110vh;
    }
}

@media screen and (max-width: 558px) {
    .hero {
        height: 100vh;
        background-size: cover;
    }
}